{% extends "base_generic.html" %}

{% block content %}
  <h1>Authors List</h1>
  {% if author_list %}
  <ul>
    <!-- esse author pode ser qualquer variavel nao necessariamente book-->
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{author.last_name}} ({{ author.date_of_birth }} - {% if author.date_of_death != null %} {{ author.date_of_death }} {% endif %})</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the library yet.</p>
  {% endif %}       
{% endblock %}
